.parent {
    -fx-background-color: #3D145C;
}

.btnLogin {
    -fx-background-color: #ffffff;
    -fx-text-fill: #3D145C;
    -fx-background-radius: 5px;
}

.btnLogin:hover {
    -fx-background-color: transparent;
    -fx-text-fill: WHITE;
    -fx-border-color:  WHITE;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.txtField {
    -fx-prompt-text-fill: WHITE;
    -jfx-focus-color: WHITE;
    -jfx-unfocus-color: WHITE;
    -fx-text-inner-color: WHITE;
}

.btnSignUp {
    -fx-text-fill: #ab18bb;
}

.btnSignUp:hover {
    -fx-text-fill: #e735cb;
}

.btnClose {
    -fx-fill: #ffffff;
}

.btnClose:hover {
    -fx-fill: #e710cb;
}

.btnMenu {
    -fx-border-color: transparent;
}

.btnMenu {
}

.btnMenu {
    -fx-text-fill: WHITE;
}

.btnMenu:hover {
    -fx-border-color:  WHITE;
    -fx-border-width: 0.5px;
    -fx-border-style: solid;
}

.btnNext {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
}

.btnNext:hover {
    -fx-border-color:  WHITE;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.btnNextService {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
}

.btnNextService:hover {
    -fx-border-color: #3D145C;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.txtEnd {
    -fx-background-color: transparent;
    -fx-text-fill: WHITE;
    -fx-border-color:  WHITE;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.txtEndModified {
    -fx-background-color: transparent;
    -fx-text-fill: #3D145C;
    -fx-border-color:  #3D145C;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.paneTotal {
    -fx-background-color: #d9b1d9;
    -fx-background-radius: 5px;
}

.btnCloseHome {
    -fx-fill: #3D145C;
}

.btnCloseHome:hover {
    -fx-fill: #e710cb;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.btnService {
    -fx-background-color: #3D145C;
    -fx-text-fill: WHITE;
    -fx-background-radius: 5px;
}

.btnService:hover {
    -fx-border-color: WHITE;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}

.data0.chart-pie {
    -fx-pie-color: #9d0de9;
}

.data1.chart-pie {
    -fx-pie-color: #f363e9;
}

.paneHome {
    -fx-background-color: WHITE;
}